.App {
  background-color: white;
  min-height: 100vh;
  text-align: center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1px 30px;
  grid-auto-rows: 10px;
}

.image-item img {
  width: 300px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  margin-bottom: 10px;
}

input[type=text] {
  padding: 10px;
  width: 40%;
  border: solid 1pt gray;
}

input[type=submit] {
  background-color: indianred;
  border: 0;
  margin-left: 10px;
  padding: calc(10px + 1pt);
  color: white;
  cursor: pointer;
}
